/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width:75%;
}

main, section.scoreboard {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  margin: auto;
  font-size: 1em;
}

main > section, section.scoreboard > h4 {
  width: 50%;
  display: block;
  margin: 0 auto;
}

#bot, #user {
  font-size: 1em;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  text-align: center;
  font-size: 16px;
  background: -webkit-linear-gradient(270deg, black, rgba(129, 61, 61, 0.894), black) no-repeat center center fixed;
  color: rgb(255, 80, 80);
  background-size:cover;
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  display: none;
}

h1 {
  font-size: 2.5rem;
  padding: none;
  margin: 10px auto;
}

h4, h3, h2, aside {
  color: white;
  margin: none auto;
}

strong {
  color: rgb(255, 80, 80);
  font-size: 1.5em;
}

bong {
  color: dodgerblue;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 2em;
  font-weight: 700;
}

button, input {
  font-size: .9em;
}

img {
  max-width: 100%;
}

section.scoreboard {
  margin-bottom: 10px;
}

#wins, #losses {
  font-size: .8em;
}

aside{
  margin-top: 10px;
  font-weight: 600;
  font-size: .9rem;
}

#botScore, #userScore {
  font-size: .8rem;
}
